# Data Structure

## Numeric

1. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric1 และกำหนดค่าให้เท่ากับ 5 หลังจากนั้นให้ทำการพิมพ์ค่าและชริดข้อมูลของ numeric1 ออกมา

In [1]:
numeric1 = 5
print(numeric1, type(numeric1))

5 <class 'int'>

2. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric2 และกำหนดค่าให้เท่ากับ -3 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric2 ออกมา

In [2]:
numeric2 = -3
print(numeric2, type(numeric2))

-3 <class 'int'>

3. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric3 และกำหนดค่าให้เท่ากับ 0 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric3 ออกมา

In [3]:
numeric3 = 0
print(numeric3, type(numeric3))

0 <class 'int'>

4. เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม หลังจากนั้นให้ทำการพิมพ์ค่า และชนิดข้อมูลของจำนวนที่รับออกมา

In [5]:
a = int(input('Please insert integer: '))
print(a)
print(type(a))

Please insert integer: 60
60
<class 'int'>

5. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric1 และกำหนดค่าให้เท่ากับ 5.0 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric1 ออกมา

In [6]:
numeric1 = 5.0
print(numeric1)
print(type(numeric1))

5.0
<class 'float'>

6. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric2 และกำหนดค่าให้เท่ากับ -3.1 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric2 ออกมา

In [7]:
numeric2 = -3.1
print(numeric2)
print(type(numeric2))

-3.1
<class 'float'>

7. เขียนโปรแกรมสร้างตัวแปรชื่อ numeric3 และกำหนดค่าให้เท่ากับ 0.0 หลังจากนั้นให้ทำการพิมพ์ค่าและชนิดข้อมูลของ numeric3 ออกมา

In [8]:
numeric3 = 0.0
print(numeric3)
print(type(numeric3))

0.0
<class 'float'>

8. เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนจริง หลังจากนั้นให้ทำการพิมพ์ค่า และชนิดข้อมูลของจำนวนที่รับออกมา

In [10]:
f = float(input('Please insert floating number: '))
print(f)
type(f)

Please insert floating number: 6.25
6.25

float

9. เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนเต็ม (int1, int2) ให้คำนวณผลบวก, ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้นให้พิมพ์ค่าและชนิดข้อมูลของทุกผลลัพธ์ออกมา

In [12]:
int1 = int(input('Please insert int1: '))
int2 = int(input('Please insert int2: '))

add = int1 + int2
minus = int1 - int2
multiply = int1 * int2
divided = int1 / int2

print('int1 = ', int1, type(int1))
print('int2 = ', int2, type(int2))

print('ผลบวก', add, type(add))
print("ผลลบ", minus, type(minus))
print("ผลคูณ", multiply, type(multiply))
print("ผลหาร", divided, type(divided))

Please insert int1: 5
Please insert int2: 114
int1 =  5 <class 'int'>
int2 =  114 <class 'int'>
ผลบวก 119 <class 'int'>
ผลลบ -109 <class 'int'>
ผลคูณ 570 <class 'int'>
ผลหาร 0.043859649122807015 <class 'float'>

10. เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนจริง (float1, float2) ให้คำนวณผลบวก, ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้นให้พิมพ์ค่าและชนิดข้อมูลของทุกผลลัพธ์ออกมา

In [13]:
float1 = float(input('float1: '))
float2 = float(input('float2: '))

add = float1 + float2
minus = float1 - float2
multiply = float1 * float2
divided = float1 / float2

print('float1 = ', float1, type(float1))
print('float2 = ', float2, type(float2))

print('ผลบวก', add, type(add))
print("ผลลบ", minus, type(minus))
print("ผลคูณ", multiply, type(multiply))
print("ผลหาร", divided, type(divided))

float1: 5.47
float2: 4
float1 =  5.47 <class 'float'>
float2 =  4.0 <class 'float'>
ผลบวก 9.469999999999999 <class 'float'>
ผลลบ 1.4699999999999998 <class 'float'>
ผลคูณ 21.88 <class 'float'>
ผลหาร 1.3675 <class 'float'>

11. เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนจริง (int1, float1) ให้คำนวณผลบวก, ผลลบ, ผลคูณ และผลหารของจำนวนที่รับมา หลังจากนั้นให้พิมพ์ค่าและชนิดข้อมูลของทุกผลลัพธ์ออกมา

In [14]:
int1 = int(input('int1: '))
float1 = float(input('float1: '))

add = int1 + float1
minus = int1 - float1
multiply = int1 * float1
divided = int1 / float1

print('int1 = ', int1, type(int1))
print('float2 = ', float2, type(float2))

print('ผลบวก', add, type(add))
print("ผลลบ", minus, type(minus))
print("ผลคูณ", multiply, type(multiply))
print("ผลหาร", divided, type(divided))

int1: 5
float1: 4.57
int1 =  5 <class 'int'>
float2 =  4.0 <class 'float'>
ผลบวก 9.57 <class 'float'>
ผลลบ 0.4299999999999997 <class 'float'>
ผลคูณ 22.85 <class 'float'>
ผลหาร 1.0940919037199124 <class 'float'>

12. เขียนโปรแกรมสร้างตัวแปรชื่อ logic1 และกำหนดค่าให้เท่ากับ True หลังจากนั้นทำให้การพิมพ์ค่าและชนิดข้อมูลของ logic1 ออกมา

In [33]:
logic1 = True
print(logic1 , type(logic1))

True <class 'bool'>

13.

In [34]:
logic2 = False
print(logic2 , type(logic1))

False <class 'bool'>

14.

In [16]:
logic1 = True
logic2 = False
a = logic1 & logic2
print(a)
print(logic1 and logic2)
print(logic1 & logic2)

False
False
False

15.

In [18]:
logic1 = True
logic2 = False
b = logic1 | logic2
print(b)
print(logic1 or logic2)
print(logic1 | logic2)

True
True
True

16.

In [37]:
complex1 = 1 + 2j
print(complex1, type(complex1))

(1+2j) <class 'complex'>

17.

In [44]:
complex1 = 1 + 2j
print(complex1.real)

1.0

18.

In [45]:
complex1 = 1 + 2j
print(complex1.imag)

2.0

## String

19.

In [47]:
string1 = 'Python'
print(string1, type(string1))

Python <class 'str'>

20.

In [53]:
string1 = 'Python'
print(string1[0])

P

21.

In [54]:
string1 = 'Python'
print(string1[1])

y

22.

In [55]:
string1 = 'Python'
print(string1[-1])

n

23.

In [60]:
string1 = 'Python'
print(string1[-2])

o

24.

In [19]:
string1 = 'Python'
print(string1[2])
print(string1[-4])

t
t

25.

In [20]:
string1 = 'Python'
print(string1[3])
print(string1[-3])

h
h

26.

In [21]:
#26. index 1 to index 3
string1 = 'Python'
print(string1[1:4])
#ถ้าจะเอา index 1-3 ต้องสั่ง 1:4 ไม่เอาตัวสุดท้ายคือ 4 ไม่รู้ทำไม

yth

27.

In [24]:
#27. index 2 to index -1
string1 = 'Python'
print(string1[2:-1])

tho

28.

In [27]:
#28. index 2 to index -1
string1 = 'Python'
print(string1[2:])

thon

29.

In [23]:
#29. index -4 to index 4
string1 = 'Python'
print(string1[-4:5])

tho

30.

In [29]:
#30. index -6 to index 4
string1 = 'Python'
print(string1[-6:5])
print(string1[:5])

Pytho
Pytho

31.

In [30]:
#31. index -4 to index -2
string1 = 'Python'
print(string1[-4:-1])

tho

32.

In [31]:
a = str(input('a: '))
print(len(a))

a: dad
3

33.

In [86]:
a = str(input('a: '))
print('ก' in a)

a: สุรวุฒิ
False

34.

In [88]:
string1 = str(input('string1: '))
string2 = str(input('string2: '))
print(string2 in string1)

string1: happy
string2: pi
False

35.

In [92]:
txt = str(input('txt: '))
print(txt.replace('a', 'A'))

txt: banana
bAnAnA

36.

In [93]:
txt = str(input('txt: '))
string2 = txt.replace('a', 'A')
print(string2)

txt: surawoot
surAwoot

37.

In [34]:
sentence = str(input('Please insert sentence: '))
a = sentence.split()
b = sentence.split(' ')
print(a)
print(b)

Please insert sentence: I love python.
['I', 'love', 'python.']
['I', 'love', 'python.']

38.

In [35]:
sentence = input('Please insert sentence: ')
c = input('Please insert: ')
a = sentence.split(c)
print(a)

Please insert sentence: I don't like you.
Please insert: '
['I don', 't like you.']

In [37]:
#39.
str1 = input('Please insert: ')
str2 = input('Please insert: ')
print(str1 + str2)
print(str1, str2)

Please insert: Fri
Please insert: day
Friday
Fri day

## List

In [104]:
#40.
list = [0, 1, 2, 'a', 'b', 'c']
print(list, type(list))

[0, 1, 2, 'a', 'b', 'c'] <class 'list'>

In [105]:
#41.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2])

2

In [106]:
#42.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-3])

a

In [38]:
#43.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[0])
print(list1[-6])

0
0

In [39]:
#44.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-2])
print(list1[4])

b
b

In [40]:
#45. index2 to index 3
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2:4])

[2, 'a']

In [42]:
#46. index1 to index -2
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-1])

[1, 2, 'a', 'b']

In [46]:
#47. 
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:5])
print(list1[1:-1])
print(list1[-5:5])
print(list1[-5:-1])

[1, 2, 'a', 'b']
[1, 2, 'a', 'b']
[1, 2, 'a', 'b']
[1, 2, 'a', 'b']

In [49]:
#48.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[3:])
print(list1[3:6])
print(list1[-3:])

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [51]:
#49.
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[0:3])
print(list1[:3])
print(list1[0:-3])
print(list1[0:-3])

[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]

In [128]:
#50.
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [129]:
#51.
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [130]:
#52.
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2.append('fish')
print(list2)

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [52]:
#53.
list2 = []
str1 = str(input('str1: '))
str2 = str(input('str2: '))
str3 = str(input('str3: '))
list2.append(str1)
list2.append(str2)
list2.append(str3)
print(list2)

str1: ong
str2: surawoot
str3: meekong
['ong', 'surawoot', 'meekong']

In [149]:
#54.
list3 = ['apple', 'cherry', 'eggfruit']
list3.insert(1, 'banana')
print(list3)

['apple', 'banana', 'cherry', 'eggfruit']

In [150]:
#55.
list3 = ['apple', 'banana', 'cherry', 'eggfruit']
list3.insert(-1, 'kiwi')
print(list3)

['apple', 'banana', 'cherry', 'kiwi', 'eggfruit']

In [151]:
#56.
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)

[0, 1, 2, 3, 4]

In [158]:
#57.
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse = True)
print(list4)

[4, 3, 2, 1, 0]

In [55]:
#58.
list4 = [0, 4, 2, 3, 1]
list4.sort()
sorted_list4 = sorted(list4)
print(sorted_list4)
print(list4)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [57]:
#59.
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse = True)
sorted_list4 = sorted(list4, reverse = True)
print(sorted_list4)
print(list4)

[4, 3, 2, 1, 0]
[4, 3, 2, 1, 0]

In [166]:
#60.
list5 = ['d', 'a', 'c', 'b', 'e']
list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [58]:
#61.
list5 = ['d', 'a', 'c', 'b', 'e']
list5.sort(reverse = True)
sorted_list5 = sorted(list5, reverse = True)
print(sorted_list5)
print(list5)

['e', 'd', 'c', 'b', 'a']
['e', 'd', 'c', 'b', 'a']

In [171]:
#62.
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2,]
list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 0, 1, 2]
[0, 1, 2]

In [174]:
#63.
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2,]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [1]:
#64.
list1 = [1, 2, 3, 1, 2, 3]
del list1[1]
print(list1)

[1, 3, 1, 2, 3]

In [59]:
#65.
list1 = [1, 2, 3, 1, 2, 3]
del list1[-1] #del ลบที่ละตัว แล้วได้ใหม่ที่ลดลง ดังนั้นต้องดูลำดับ list ใหม่หลัง del
del list1[2]
print(list1)

[1, 2, 1, 2]

In [206]:
#66.
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1) #ระบุตัวที่เอาออกที่ละตัว ตามลำดับ 0 ->
print(list1)

[2, 3, 1, 2, 3]

In [207]:
#67.
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
list1.remove(1)
print(list1)
#จะลบ 1 ทั้งสองตัวต้องสั่งทีละครั้ง

[2, 3, 2, 3]

In [211]:
#68.
list1 = [1, 2, 3, 1, 2, 3]
list1.clear()
print(list1)

[]

In [212]:
#69.
list1 = [1, 2, 3, 'a', 'b', 'c']
print(len(list1))

6

In [217]:
#70.
list1 = [1, 2, 3, 4, 5]
n = int(input('n: '))
print(n in list1)

n: 0
False

## Tuple

In [1]:
#71.
tuple = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple, type(tuple))

('America', 'Brazil', 'China', 'Dominican', 'Egypt') <class 'tuple'>

In [3]:
#72.
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[1])

Brazil

In [4]:
#73.
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-2])

Dominican

In [60]:
#74.
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[2])
print(tuple1[-3])

China
China

In [61]:
#75.
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-1])
print(tuple1[4])

Egypt
Egypt

In [62]:
#76. index1 to index3
tuple2 = ('one', 'two', 'three' , 1, 2, 3)
print(tuple2[1:4])

('two', 'three', 1)

In [63]:
#77. index2 to index-2
tuple2 = ('one', 'two', 'three' , 1, 2, 3)
print(tuple2[2:-1])

('three', 1, 2)

In [66]:
#78. 
tuple2 = ('one', 'two', 'three' , 1, 2, 3)
print(tuple2[2:4])
print(tuple2[2:-2])
print(tuple2[-4:4])
print(tuple2[-4:-2])

('three', 1)
('three', 1)
('three', 1)
('three', 1)

In [68]:
#79.
tuple2 = ('one', 'two', 'three' , 1, 2, 3)
print(tuple2[:3])
print(tuple2[:-3])

('one', 'two', 'three')
('one', 'two', 'three')

In [71]:
#80.
tuple2 = ('one', 'two', 'three' , 1, 2, 3)
print(tuple2[3:])
print(tuple2[-3:])

(1, 2, 3)
(1, 2, 3)

In [14]:
#81.
tuple3 = ('one', 'two', 'three', 'four', 'five')
print(len(tuple3))

5

In [16]:
#82.
tuple3 = ('one', 'two', 'three', 'four', 'five')
str1 = str(input('str1: '))
str1 in tuple3

str1: ten

False

## Dictonary

In [25]:
#83.
dictionary = {'first_name': 'John',
             'last_name' : 'Doe'}
print(dictionary, type(dictionary))

{'first_name': 'John', 'last_name': 'Doe'} <class 'dict'>

In [26]:
#84.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
print(dict1['first_name'])

John

In [27]:
#85.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
print(dict1['last_name'])

Doe

In [38]:
#86.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
print(dict1.keys())

dict_keys(['first_name', 'last_name'])

In [31]:
#87.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
print(dict1.values())

dict_values(['John', 'Doe'])

In [72]:
#88.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
dict1['first_name'] = 'Jane'
#dict1.update({'first_name': 'Jane'})
print(dict1)

{'first_name': 'Jane', 'last_name': 'Doe'}

In [34]:
#89.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
dict1['age'] = 32
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32}

In [35]:
#90.
dict1 = {'first_name': 'John',
             'last_name' : 'Doe'}
dict1['age'] = 32
dict1['hobby'] = ['coding', 'studying']
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32, 'hobby': ['coding', 'studying']}

In [74]:
#91. 
dict1 = { }
str1 = str(input('str1: '))
str2 = str(input('str2: '))
dict1[str1] = str2
dict2 = {str1: str2}
print(dict1, type(dict1))
print(dict2, type(dict2))

str1: ong
str2: mee
{'ong': 'mee'} <class 'dict'>
{'ong': 'mee'} <class 'dict'>

In [75]:
#92.
dict1 = {'first_name': 'John', 
         'last_name': 'Doe', 
         'age': 32}
del dict1['age']
#dict1.pop('age')
print(dict1)

{'first_name': 'John', 'last_name': 'Doe'}

In [43]:
#93.
dict1 = {'first_name': 'John', 
         'last_name': 'Doe', 
         'age': 32}
dict1.clear()
print(dict1)

{}

In [76]:
#94.
dict1 = {'first_name': 'John', 
         'last_name': 'Doe', 
         'age': 32}
print(len(dict1))
print(len(dict1.keys()))

3
3

In [78]:
#95. 
dict1 = {'first_name': 'John', 
         'last_name': 'Doe', 
         'age': 32}
str1 = str(input('str1: '))
print(str1 in dict1)
print(str1 in dict1.keys())

str1: age
True
True

In [79]:
#96. 
dict1 = {'first_name': 'John', 
         'last_name': 'Doe', 
         'age': 32}
str1 = str(input('str1: '))
print(str1 in dict1.values())

str1: 65
False

## Set

In [80]:
#97.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
print(set1, type(set1))

{1, 2, 3, 'i', 'ii', 'iii'} <class 'set'>

In [81]:
#98. พิมพ์สมาชิกทุกตัวใน set1
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
for s in set1:
    print(s)

1
2
3
i
ii
iii

In [136]:
#99.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.add('iv')
print(set1)

{1, 2, 3, 'ii', 'i', 'iv', 'iii'}

In [137]:
#100.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.add(1)
print(set1) #มี 1 แล้ว เพิ่ม 1 ในเซต ก็ไม่ได้เพิ่มจำนวนสมาชิก

{1, 2, 3, 'ii', 'i', 'iii'}

In [83]:
#101.
set1 = set()
str1 = str(input('st1: '))
str2 = str(input('str2: '))
str3 = str(input('sts3: '))  

set1.add(str1)
set1.add(str2)
set1.add(str3)

set2 = {str1, str2, str3}

print(set1, type(set1))
print(set2, type(set2))

st1: ong
str2: surawoot
sts3: meekong
{'surawoot', 'ong', 'meekong'} <class 'set'>
{'surawoot', 'ong', 'meekong'} <class 'set'>

In [85]:
#102.
set1 = set()
str1 = str(input('str1: '))
str2 = str(input('str2: ')) 
str3 = str(input('sts3: '))
set1.update({str1, str2, str3})
print(set1)

str1: ong
str2: surawoot
sts3: meekong
{'surawoot', 'ong', 'meekong'}

In [148]:
#103.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.remove('i')
print(set1)

{1, 2, 3, 'ii', 'iii'}

In [149]:
#104.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
print(len(set1))

6

In [152]:
#105.
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
n = int(input('n: '))
print(n in set1)

n: 6
False

In [88]:
#106. union set
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
set3 = set1.union(set2)
print(set1 | set2)
print(set3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [89]:
#107. intersection set
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 & set2)

{3, 4, 5}
{3, 4, 5, 6}

In [90]:
#108. different set1 - set2
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
set3 = set1 - set2
print(set3)

{1, 2}

In [164]:
#109. different set2 - set1
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
set3 = set2 - set1
print(set3)

{6}

In [91]:
#110.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
set3 = set1.symmetric_difference(set2)
print(set1 ^ set2)
print(set3)
#The symmetric_difference() method returns all the items present in given sets, except the items in their intersections.

{1, 2, 6}
{1, 2, 6}