# 11. For & While Loop (Problem)

In [140]:
#1. for
for i in range (0, 20, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [121]:
#1. while
i = 0
while i <= 19:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [141]:
#2. for
for i in range (0, 19, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [123]:
#2. while
i = 0
while i <= 18:
    print(i)
    i = i + 2

0
2
4
6
8
10
12
14
16
18

In [139]:
#3. for
for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [125]:
#3. while
i = 1
while i <= 19:
    print(i)
    i = i + 2

1
3
5
7
9
11
13
15
17
19

In [142]:
#4. for
for i in range (19, -1, -1):
    print(i)

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [130]:
#4. while
i = 19
while i >= 0:
    print(i)
    i = i - 1

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [143]:
#5. for
for i in range (18, -1, -2):
    print(i)

18
16
14
12
10
8
6
4
2
0

In [133]:
#5. while
i = 18
while i >= 0:
    print(i)
    i = i - 2

18
16
14
12
10
8
6
4
2
0

In [2]:
#6. for
for i in range (19, 0, -2):
    print(i)

19
17
15
13
11
9
7
5
3
1

In [1]:
#6. while
i = 19 
while i >= 1:
    print(i)
    i = i - 2

19
17
15
13
11
9
7
5
3
1

In [4]:
#7. for
for i in range (-3, 10, 1):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [5]:
#7. while
i = -3
while i <= 9:
    print(i)
    i = i + 1

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [145]:
#8. for
for i in range (-9, 1, 1):
    print(i)

-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [137]:
#8. while
i = -9
while i <= 0:
    print(i)
    i = i + 1

-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [146]:
#9. for
for i in range (-5, -16, -1):
    print(i)

-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15

In [148]:
#9. while 
i = -5
while i >= -15: 
    print(i)
    i = i - 1

-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15

In [149]:
#10. for
for i in range (-5, -16, -2):
    print(i)

-5
-7
-9
-11
-13
-15

In [150]:
#10. while
i = -5 
while i >= -15:
    print(i)
    i = i - 2

-5
-7
-9
-11
-13
-15

In [6]:
#11. for
n = int(input("number: "))
total = 0
for i in range (1, n+1, 1):
    total += i
print(total)

number: 10
55

In [7]:
#11. while
n = int(input('number: '))
total = 0

i = 1
while i <= n:
    total += i
    i = i + 1
    
print(total)

number: 10
55

In [86]:
#12. for
n = int(input('number: '))
total = 1

for i in range (1, n+1, 1):
    total *= i 
print(total)

number: 5
120

In [158]:
#12.
n = int(input('number: '))
total = 1

i = 1
while i <= n:
    total *= i
    i = i + 1
print(total)

number: 5
120

In [8]:
#13. for
n = int(input('number: '))
list1 = []

for i in range (1, n+1, 1):
    a = 1/i
    list1.append(a)
    
result = sum(list1)
print(result)

number: 10
2.9289682539682538

In [9]:
#13. while
n = int(input('number: '))
list1 = []

i = 1
while i <= n:
    a = 1/i
    list1.append(a)
    i = i + 1
result = sum(list1)
print(result)

number: 10
2.9289682539682538

In [10]:
#14. for
n = int(input('number: '))
total = 0

for i in range (1, n+1, 1):
    total += 1/(i**2)
    
print(total)

number: 10
1.5497677311665408

In [11]:
#14. while
n = int(input('number: '))

total = 0

i = 1
while i <= n:
    total += 1/(i**2)
    i = i + 1
    
print(total)

number: 10
1.5497677311665408

In [12]:
#15. for -> sum(list)
n = int(input('number: '))
list1 = []

for i in range (1, n+1, 1):
    total = 1/(i**2)
    list1.append(total)
    
sum_list1 = sum(list1)
result = (6*sum_list1)**(0.5)
print(result)

number: 100
3.1320765318091053

In [13]:
#15. while -> sum(list)
n = int(input('number: '))
list1 = []

i = 1
while i <= n:
    total = 1/(i**2)
    list1.append(total)
    i = i + 1
    
sum_list1 = sum(list1)
result = (6*sum_list1)**(0.5)
print(result)

number: 100
3.1320765318091053

In [14]:
#15. for -> +=
n = int(input('number: '))
total = 0

for i in range (1, n+1, 1):
    total += 1/(i**2)

result = (6*total)**(0.5)
print(result)

number: 100
3.1320765318091053

In [15]:
#15. while -> +=
n = int(input('number: '))
total = 0

i = 1
while i <= n:
    total += 1/(i**2)
    i = i + 1

result = (6*total)**(0.5)
print(result)

number: 100
3.1320765318091053