# 12. Problem

In [3]:
#1. ระหว่าง 0 ถึง 100 ไม่เอา 0 และ 100 (0, 100) != [0, 100]
for i in range (1, 100, 1):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [4]:
#2.
for i  in range (1, 100, 1):
    if i%3 == 0 and i%5 == 0:
        print(i)

15
30
45
60
75
90

In [5]:
#3.
for i in range (1, 100, 1):
    if i%3 == 0 or i%5 == 0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99

In [6]:
#4.
for i in range (1, 1000, 1):
    if i%3 == 0 and i%5 == 0 and i%7 == 0:
        print(i)

105
210
315
420
525
630
735
840
945

In [7]:
#5.
for i in range (1, 100, 1):
    if i%3 == 0 or i%5 == 0 or i%7 == 0:
        print(i)

3
5
6
7
9
10
12
14
15
18
20
21
24
25
27
28
30
33
35
36
39
40
42
45
48
49
50
51
54
55
56
57
60
63
65
66
69
70
72
75
77
78
80
81
84
85
87
90
91
93
95
96
98
99

In [10]:
#6.
for i in range (1, 100, 1):
    if i%3 == 0 or i%5 == 0:
        if i%15 != 0:
            print(i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99

In [12]:
#7.
for i in range (1, 100, 1):
    if i%3 == 0 and i%5 == 0:
        if i%2 != 0:
            print(i)

15
45
75

In [13]:
#8.
for i in range (1, 100, 1):
    if i%3 == 0 or i%5 == 0:
        if i%2 != 0:
            print(i)

3
5
9
15
21
25
27
33
35
39
45
51
55
57
63
65
69
75
81
85
87
93
95
99

In [117]:
#9.
count = 0
for i in range (1, 1000, 1):
    if i%3 == 0:
        count = count + 1
print(count)

333

In [26]:
#10.
result = 0
for i in range (1, 1000, 1):
    if i%3 == 0:
        result += i
print(result)

166833

In [120]:
#11.
result = 0
for i in range (0, 5, 1):
    num = int(input('number_'+str(i+1)+': '))
    result += num
print(result)

number_1: 1
number_2: 3
number_3: 5
number_4: 7
number_5: 9
25

In [40]:
#12.
result_positive = 0
result_negative = 0

for i in range (1, 6, 1):
    num = float(input('number: '))
    if num > 0:
        result_positive += num
    elif num < 0: 
        result_negative += num
        
print('ผลรวมของจำนวนที่เป็นบวก', result_positive)
print('ผลรวมของจำนวนที่เป็นลบ', result_negative)

number: 75
number: -9
number: -1
number: 5
number: 10
ผลรวมของจำนวนที่เป็นบวก 90.0
ผลรวมของจำนวนที่เป็นลบ -10.0

In [42]:
#13.
result_positive = 1
result_negative = 1

for i in range (1, 6, 1):
    num = float(input('number: '))
    if num > 0:
        result_positive *= num
    elif num <0:
        result_negative *= num

print('ผลคูณของจำนวนที่เป็นบวก', result_positive)
print('ผลคูณของจำนวนที่เป็นลบ', result_negative)

number: 7
number: 8
number: -9
number: -5
number: -1
ผลคูณของจำนวนที่เป็นบวก 56.0
ผลคูณของจำนวนที่เป็นลบ -45.0

In [121]:
#14.
num = int(input('number: '))

for i in range (1, num+1, 1):
    if num%i == 0:
        print(i)

number: 135
1
3
5
9
15
27
45
135

In [47]:
#15.
list1 = []
num = int(input('number: '))

for i in range (1, num+1, 1):
    if num%i == 0:
        list1.append(i)
        print(i)

print("จำนวนเต็มบวกที่หาร", num, 'มีจำนวนลงตัว', len(list1), 'ตัว')

number: 15
1
3
5
15
จำนวนเต็มบวกที่หาร 15 มีจำนวนลงตัว 4 ตัว

In [122]:
#16.
num = int(input('number: '))
list1 = []

for i in range (1, num+1, 1):
    if num%i == 0:
        list1.append(i)

if len(list1) == 2:
    print(num, 'is prime number')
else:
    print(num, 'is not prime number')
print(list1)

number: 135
135 is not prime number
[1, 3, 5, 9, 15, 27, 45, 135]

In [118]:
#17.*
for i in range (1, 100, 1):
    list1 = []
    for j in range (1, i+1, 1):
        if i%j == 0:
            list1.append(j)
    if len(list1) == 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [132]:
#17.
list2 = []

for i in range (1, 100, 1):
    list1 = []
    for j in range (1, i+1, 1):
        if i%j == 0:
            list1.append(j)
    if len(list1) == 2:
        print(i)
        list2.append(i)
print(list2)
print(len(list2))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [131]:
#18.
list2 = []
i = 1
while len(list2) <= 99:
    list1 = []
    for j in range (1, i+1, 1):
        if i%j == 0:
            list1.append(j)
    if len(list1) == 2:
        list2.append(i)
    i = i + 1
print(list2)
print(len(list2))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]
100

In [134]:
#19.* 
list2 = []
i = 1
while len(list2) <= 99:
    list1 = []
    for j in range (1, i+1, 1):
        if i%j == 0:
            list1.append(j)
    if len(list1) == 2:
        list2.append(i)
    i = i + 1
print(list2)
print(sum(list2))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]
24133

In [135]:
#19.* extra1 แยกตัวประกอบที่เป็นจำนวนเฉพาะ
n = int(input("number: "))
list1 = []

i = 2
while n >= i :
    while n%i == 0:
        n = n/i
        list1.append(i)
    i = i + 1
print(list1)

result = 1
for j in range (0, len(list1), 1):
    result *= list1[j]

print(result)

number: 241958718122610006121856
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 7, 761, 1759, 2404877]
241958718122610015600640

In [136]:
#19.* extra มีจำนวนเฉพาะใดบ้างที่หาร n ลงตัว
n = int(input("number: "))
list1 = []

i = 2
while n >= i :
    while n%i == 0:
        n = n/i
        list1.append(i)
        i = i + 1
    i = i + 1
print(list1)

number: 241958718122610006121856
[2, 4, 5, 7, 8, 16, 32, 64, 128, 761, 1759, 2404877]

In [137]:
#20.
text = str(input('text: '))

for i in range (0, len(text), 2):
    print(text[i])

text: coding
c
d
n

In [138]:
#21.
text = str(input('text: '))

for i in range (1, len(text), 2):
    print(text[i])

text: coding
o
i
g

In [152]:
#22.
result = ''

for i in range (0, 5, 1):
    text = str(input('text: '))
    result += text
print(result)
print(len(result))

text: as
text: ev
text: dfr
text: asf
text: dfe
asevdfrasfdfe
13

In [139]:
#23.
str1 = str(input('str: '))
char1 = str(input('char1: '))

if len(char1) == 1:
    for i in range (0, len(str1), 1):
        if char1 == str1[i]:
            print(i, str1[i])

str: google
char1: o
1 o
2 o

In [143]:
#24.* .count(' ') method
count_a = 0
for i in range(5):
    word = input('word: ')
    n_appear = word.count('a')
    count_a = count_a + n_appear
print(count_a)

word: coconut
word: watermelon
word: lemon
word: mango
word: mangoteen
3

In [141]:
#24.
result = ''
for i in range (0, 5, 1):
    text = str(input('text: '))
    result += text
    
a = []
for j in result:
    if j == 'a':
        a.append(j)
print(len(a))
print(a)

text: coconut
text: watermelon
text: lemon
text: mango
text: mangoteen
3
['a', 'a', 'a']

In [145]:
#25.
vowel = ['a', 'e', 'i', 'o', 'u']
text = str(input('text: '))

result = []
for i in vowel:
    if i in text:
        result.append(i)
        print('There is', "'"+i+"'"  ,'vowel')
    else: 
        print('There is no', "'"+i+"'" ,'vowel')

if len(result) > 0:
    print('There is vowel')
else:
    print('There is no vowel')

text: I love coding
There is no 'a' vowel
There is 'e' vowel
There is 'i' vowel
There is 'o' vowel
There is no 'u' vowel
There is vowel

In [146]:
#26.*
vowel = ['a', 'e', 'i', 'o', 'u']
text = str(input('text: '))
for v in vowel:
    text = text.replace(v, '*')
print(text)

text: I love coding
I l*v* c*d*ng

In [162]:
#26.
vowel = ['a', 'e', 'i', 'o', 'u']
text = str(input('text: '))

list1 = []
for i in range (0, len(text), 1):
    list1.append(text[i])
    if list1[i] in vowel:
        list1[i] = '*'
text = ''.join(list1)
print(text)

text: I love coding
I l*v* c*d*ng

In [163]:
#27.
text = str(input('text: '))
list1 = []
for i in range (len(text)-1, -1, -1):
    list1.append(text[i])
text = ''.join(list1)
print(text)

text: I love coding
gnidoc evol I

In [164]:
#28.
result = ''

for i in range (0, 5, 1):
    text = str(input('text: '))
    result += text
print(result)

text: abc
text: defg
text: hij
text: klmnop
text: qustuv
abcdefghijklmnopqustuv

In [165]:
#29.
str1 = str(input('text: '))
int1 = int(input('integer: '))

while len(str1) < int1:
    str1 += '*'
print(str1)

text: abc
integer: 5
abc**

In [166]:
#30.*
str1 = str(input('text: '))
set1 = set(str1)
print(set1)

text: abcabc
{'b', 'a', 'c'}

In [361]:
#30.
str1 = str(input('text: '))
set1 = set()
for i in str1:
    set1.add(i)
print(set1)

text: green
{'r', 'e', 'g', 'n'}

In [167]:
#31.*
str1 = str(input('text: '))
set1 = set(str1)
for s in set1:
    count = str1.count(s)
    print(s, count)

text: alligator
r 1
l 2
i 1
a 2
t 1
g 1
o 1

In [168]:
#31. * แสดงถึงความลำบากในการคิด
str1 = str(input('text: '))
list1 = []

for i in range (0, len(str1), 1):
    if (str1[i] in list1) == False:
        list1.append(str1[i])
        n = 0
        for j in range (0, len(str1), 1):
            if str1[i] == str1[j]:
                n = n + 1
        print("'"+str1[i]+"'", "มีจำนวน", n, "ตัวอักษร")

text: alligator
'a' มีจำนวน 2 ตัวอักษร
'l' มีจำนวน 2 ตัวอักษร
'i' มีจำนวน 1 ตัวอักษร
'g' มีจำนวน 1 ตัวอักษร
't' มีจำนวน 1 ตัวอักษร
'o' มีจำนวน 1 ตัวอักษร
'r' มีจำนวน 1 ตัวอักษร

In [317]:
#32.
list1 = []

for i in range (0, 20, 1):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [318]:
#33.
list1 = []

for i in range (99, 79, -1):
    list1.append(i)
print(list1)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80]

In [170]:
#34.
list1 = []

for i in range (0, 5, 1):
    num = int(input('integer: '))
    if num not in list1:
        list1.append(num)
print(list1)

integer: 5
integer: 2
integer: 3
integer: 4
integer: 2
[5, 2, 3, 4]

In [171]:
#35.
list1 = []

while len(list1) < 5:
    text = str(input('text: '))
    if (text in list1) == False:
        list1.append(text)
print(list1)

text: 1
text: 2
text: 2
text: 1
text: 12
text: 3
text: 5
['1', '2', '12', '3', '5']

In [320]:
#36.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []

for i in range (len(list1)-1, -1, -1):
    list2.append(list1[i])
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [322]:
#37.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range (0, len(list1), 2):
    print(list1[i])

1
3
5
7
9

In [323]:
#38.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range (1, len(list1), 2):
    print(list1[i])

2
4
6
8
10

In [325]:
#39.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in list1:
    if i%3 == 0:
        print(i)

3
6
9

In [173]:
#40.*
list2 = ['a', 'l', 'l', 'i', 'g', 'a', 't', 'o', 'r']
text = str(input('text: '))
list3 = []

for i in range (0, len(text), 1):
    if (text[i] in list3) == False:
        list3.append(text[i])
        n = 0 
        for j in range (0, len(text), 1):
            if text[i] == text[j]:
                n = n + 1
        list4 = []
        for k in range (0, len(list2), 1):
            if text[i] == list2[k]:
                list4.append(k)
        if len(list4) == 0:
            print("'"+text[i]+"'", "มีจำนวน", n, 'ตัวอักษร แต่ไม่มีอยู่ใน list2')
        else:
            print("'"+text[i]+"'", "มีจำนวน", n, 'ตัวอักษร และอยู่ใน list2 ที่ index', list4)

text: surawoot meekong
's' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'u' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'r' มีจำนวน 1 ตัวอักษร และอยู่ใน list2 ที่ index [8]
'a' มีจำนวน 1 ตัวอักษร และอยู่ใน list2 ที่ index [0, 5]
'w' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'o' มีจำนวน 3 ตัวอักษร และอยู่ใน list2 ที่ index [7]
't' มีจำนวน 1 ตัวอักษร และอยู่ใน list2 ที่ index [6]
' ' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'm' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'e' มีจำนวน 2 ตัวอักษร แต่ไม่มีอยู่ใน list2
'k' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'n' มีจำนวน 1 ตัวอักษร แต่ไม่มีอยู่ใน list2
'g' มีจำนวน 1 ตัวอักษร และอยู่ใน list2 ที่ index [4]

In [343]:
#40.
list2 = ['a', 'l', 'l', 'i', 'g', 'a', 't', 'o', 'r']
text = str(input('text: '))

for i in range (0, len(text), 1):
    if (text[i] in list2) == False:
        print(text[i], "ไม่มีใน list2")
    else:
        for j in range (0, len(list2), 1):
            if text[i] == list2[j]:
                print(text[i], 'อยู่ index ที่', j ,'ของ list2')
                break

text: surawoot
s ไม่มีใน list2
u ไม่มีใน list2
r อยู่ index ที่ 8 ของ list2
a อยู่ index ที่ 0 ของ list2
w ไม่มีใน list2
o อยู่ index ที่ 7 ของ list2
o อยู่ index ที่ 7 ของ list2
t อยู่ index ที่ 6 ของ list2

In [145]:
#40.
list2 = ['a', 'l', 'l', 'i', 'g', 'a', 't', 'o', 'r']
text = str(input('text: '))
list3 = []

for i in range (0, len(text), 1):
    if (text[i] in list3) == False:
        list3.append(text[i])
        if (text[i] in list2) == False:
            print("'"+text[i]+"'", "ไม่มีใน list2")
        else:
            for j in range (0, len(list2), 1):
                if text[i] == list2[j]:
                    print("'"+text[i]+"'", 'อยู่ index ที่', j ,'ของ list2')             
print(list3)

text: surawoot
's' ไม่มีใน list2
'u' ไม่มีใน list2
'r' อยู่ index ที่ 8 ของ list2
'a' อยู่ index ที่ 0 ของ list2
'a' อยู่ index ที่ 5 ของ list2
'w' ไม่มีใน list2
'o' อยู่ index ที่ 7 ของ list2
't' อยู่ index ที่ 6 ของ list2
['s', 'u', 'r', 'a', 'w', 'o', 't']

In [163]:
#40.
list2 = ['a', 'l', 'l', 'i', 'g', 'a', 't', 'o', 'r']
text = str(input('text: '))
list3 = []

for i in range (0, len(text), 1):
    if (text[i] in list3) == False:
        list3.append(text[i])
        if (text[i] in list2) == False:
            print("'"+text[i]+"'", "ไม่มีใน list2")
        else:
            list4 = []
            for j in range (0, len(list2), 1):
                if text[i] == list2[j]:
                    list4.append(j)
            if len(list4) == 1: 
                print("'"+text[i]+"'", "อยู่ใน index", list4, "ของ list2")
            elif len(list4) > 1:
                print("'"+text[i]+"'", "อยู่ใน index", list4, "ของ list2")


for k in range (0, len(list3), 1):
    n = 0
    for m in range (k, len(text), 1):
        if list3[k] == text[m]:
            n = n + 1
    print("'"+list3[k]+"'", "มีจำนวน", n, "ตัวอักษร")

text: surawoot
's' ไม่มีใน list2
'u' ไม่มีใน list2
'r' อยู่ใน index [8] ของ list2
'a' อยู่ใน index [0, 5] ของ list2
'w' ไม่มีใน list2
'o' อยู่ใน index [7] ของ list2
't' อยู่ใน index [6] ของ list2
['s', 'u', 'r', 'a', 'w', 'o', 't']
's' มีจำนวน 1 ตัวอักษร
'u' มีจำนวน 1 ตัวอักษร
'r' มีจำนวน 1 ตัวอักษร
'a' มีจำนวน 1 ตัวอักษร
'w' มีจำนวน 1 ตัวอักษร
'o' มีจำนวน 2 ตัวอักษร
't' มีจำนวน 1 ตัวอักษร

In [177]:
#41.
list3 = [x for x in range (1, 26, 1)]
print(list3)

list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for j in range (0, len(list3), 2):
    list3[j] = 'a'
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
['a', 2, 'a', 4, 'a', 6, 'a', 8, 'a', 10, 'a', 12, 'a', 14, 'a', 16, 'a', 18, 'a', 20, 'a', 22, 'a', 24, 'a']

In [25]:
#42.
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for j in range (1, len(list3), 2):
    list3[j] = 'b'
print(list3)

[1, 'b', 3, 'b', 5, 'b', 7, 'b', 9, 'b', 11, 'b', 13, 'b', 15, 'b', 17, 'b', 19, 'b', 21, 'b', 23, 'b', 25]

In [178]:
#43.*
list3 = [x for x in range (1, 26, 1)]
for i in range (0, len(list3), 1):
    if (list3[i]**(1/2))%1 == 0:
        list3[i] = 'square'
print(list3)

['square', 2, 3, 'square', 5, 6, 7, 8, 'square', 10, 11, 12, 13, 14, 15, 'square', 17, 18, 19, 20, 21, 22, 23, 24, 'square']

In [446]:
#43.
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

list2 = []
i = 1
while i**2 <= max(list3):
    list2.append(i**2)
    i = i +1
print(list2)
    
for i in range (0,len(list3), 1):
    for j in range (0, len(list2), 1):
        if list3[i] == list2[j]:
            list3[i] = 'square'
print(list3)

[1, 4, 9, 16, 25]
['square', 2, 3, 'square', 5, 6, 7, 8, 'square', 10, 11, 12, 13, 14, 15, 'square', 17, 18, 19, 20, 21, 22, 23, 24, 'square']

In [85]:
#44.
listx = [0, 2, 4, 6, 8]
list4 = ['a', 'b', 'c', 'd', 'e', 'f']

for i in listx:
    list4.insert(i, '*')
print(list4)

['*', 'a', '*', 'b', '*', 'c', '*', 'd', '*', 'e', 'f']

In [179]:
#45.
list4 = ['a', 'b', 'c', 'd', 'e', 'f']
for i in range (0, 3, 1):
    index = int(input('index: '))
    element = str(input('element: '))
    list4.insert(index, element)
print(list4)

index: 2
element: -
index: 4
element: *
index: 5
element: ^
['a', 'b', '-', 'c', '*', '^', 'd', 'e', 'f']

In [88]:
#46.
list4 = ['a', 'b', 'c', 'd', 'e', 'f']
for i in range (0, 3, 1):
    index = int(input('index: '))
    element = str(input('element: '))
    if (element in list4) == False: 
        list4.insert(index, element)
print(list4)

index: 5
element: a
index: 2
element: q
index: 3
element: o
['a', 'b', 'q', 'o', 'c', 'd', 'e', 'f']

In [180]:
#47.
list4 = ['a', 'b', 'c', 'd', 'e', 'f']

num1 = int(input('number: '))

if num1 <= (len(list4)-1):
    del list4[num1]
print(list4)

number: 3
['a', 'b', 'c', 'e', 'f']

In [181]:
#48.
list4 = ['a', 'b', 'c', 'd', 'e', 'f']
text = str(input('text: '))

if text in list4:
    list4.remove(text)
print(list4)

text: d
['a', 'b', 'c', 'e', 'f']

In [182]:
#49.
list1 = []
for i in range (1, 11, 1):
    list1.append(i)

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num = int(input('number: '))

for i in range (0, len(list1), 1):
    if list1[i] == num:
        del list1[i]
    elif (num in list1) == False:
        list1.append(num)
        
print(list1)

number: 3
[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [119]:
#50.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num = int(input('number: '))

if num in list1:
    list1.remove(num)
else:
    list1.append(num)
        
print(list1)

number: 75
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 75]

In [196]:
#51.*
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range (len(list1)-2, -1, -2):
    del list1[i]
print(list1)

[2, 4, 6, 8, 10]

In [145]:
#51.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range (0, int(len(list1)/2), 1):
    del list1[i]
print(list1)

[2, 4, 6, 8, 10]

In [148]:
#52.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range (1, int(len(list1)/2)+1, 1):
    del list1[i]
print(list1)

[1, 3, 5, 7, 9]

In [209]:
#53.
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in range (len(list3)-1, -1, -1):
    if (list3[i]%2 == 0 or list3[i]%3 == 0) and (list3[i]%6 != 0):
        del list3[i]
print(list3)

[1, 5, 6, 7, 11, 12, 13, 17, 18, 19, 23, 24, 25]

In [210]:
#54.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in list1:
    if (i%2==0) and (i%3!=0):
        list1.remove(i)
print(list1)

[1, 3, 5, 6, 7, 9, 11, 12, 13, 15, 17, 18, 19, 21, 23, 24, 25]

In [211]:
#55.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

while len(list1) != 7:
    num = int(input('number: '))
    if num in list1:
        list1.remove(num)
print(list1, len(list1))

number: 3
number: 3
number: 5
number: 7
[1, 2, 4, 6, 8, 9, 10] 7

In [213]:
#56.* Ans
matrix1 = [[1,2,3], [4,5,6], [7,8,9]]
matrix2 = [[1,2,3], [1,2,3], [1,2,3]]

n_rows = len(matrix1)
n_columns = len(matrix1[0])
sum_matrix = [[0,0,0], [0,0,0], [0,0,0]]

for r in range (0, n_rows, 1):
    for c in range (0, n_columns, 1):
        sum_matrix[r][c] = matrix1[r][c] + matrix2[r][c]
print(sum_matrix)

[[2, 4, 6], [5, 7, 9], [8, 10, 12]]

In [260]:
#56.*
matrix1 = [[1,2,3], [4,5,6], [7,8,9]]
matrix2 = [[1,2,3], [1,2,3], [1,2,3]]
list2 = []


for i in range (0, 3, 1):
    list1 = []
    for j in range (0, 3, 1):
        n = matrix1[i][j] + matrix2[i][j]
        list1.append(n)
    list2.append(list1)
print(list2)

[[2, 4, 6], [5, 7, 9], [8, 10, 12]]

In [261]:
#57.
matrix1 = [[1,2,3], [4,5,6], [7,8,9]]
matrix2 = [[1,2,3], [1,2,3], [1,2,3]]
list2 = []


for i in range (0, 3, 1):
    list1 = []
    for j in range (0, 3, 1):
        n = matrix1[i][j] * matrix2[i][j]
        list1.append(n)
    list2.append(list1)
print(list2)

[[1, 4, 9], [4, 10, 18], [7, 16, 27]]

In [263]:
#58.
matrix1 = [[1,2,3], [4,5,6], [7,8,9]]
list2 = []

for i in range (0, 3, 1):
    list1 = []
    for j in range (0, 3, 1):
        n = matrix1[j][i]
        list1.append(n)
    list2.append(list1)
print(list2)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [300]:
#59.
matrix1 = [[1,2,3,4,], [5,6,7,8]]
print(len(matrix1[0]))
list2 = []

for i in range (0, len(matrix1[1]), 1):
    list1 = []
    for j in range (0, len(matrix1), 1):
        n = matrix1[j][i]
        list1.append(n)
    list2.append(list1)
print(list2)

4
[[1, 5], [2, 6], [3, 7], [4, 8]]

In [305]:
#60.
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
tuple1 = tuple(list1)
print(tuple1, type(tuple1))

('a', 'b', 'c', 'd', 'e', 'f') <class 'tuple'>

In [37]:
#61.
tuple1 = ()
for i in range (1, 11, 1):
    tuple1 = tuple1 + (i,)
print(tuple1)

result = 0
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in range (1, 10, 2):
    result = result + (tuple1[i]**2)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
220

In [41]:
#62.
result = 0
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in range (0, 10, 2):
    result = result + (tuple1[i]**2)
print(result)

165

In [90]:
#63.
tuple2 = ()
for i in range (1, 26, 1):
    tuple2 += (i,)
print(tuple2)

tuple2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
for i in range (0, 24, 1):
    list1 = []
    for j in range (0, 24, 1):
        if (tuple2[i]%tuple2[j]) == 0:
            list1.append(tuple2[i])
    if len(list1) == 2:
        print(tuple2[i])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)
2
3
5
7
11
13
17
19
23

In [215]:
#64.
tuple2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)

sum1 = 0
list2 = []
for i in range (0, 25, 1):
    list1 = []
    for j in range (0, 25, 1):
        if (tuple2[i]%tuple2[j]) == 0:
            list1.append(tuple2[i])
    if len(list1) == 2:
        list2.append(tuple2[i])
        sum1 += tuple2[i]
    
print(sum1/len(list2))

11.11111111111111

In [116]:
#65.
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
num = int(input('number:'))

if num in tuple1:
    print('yes')
else:
    print('no')

number:5
yes

In [217]:
#66.
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
num = int(input('number: '))

if len(tuple1) > num:
    print('มากกว่า')
elif len(tuple1) > num:
    print('น้อยกว่า')
else:
    print('เท่ากับ')

number: 7
มากกว่า

In [219]:
#67.
list1 = ['one', 'two', 'three', 'four']
list2 = [1, 2, 3, 4]

dict1 = dict()
for i in range (0, len(list1), 1):
    dict1[list1[i]] = list2[i]
print(dict1)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [185]:
#68.
tuple1 = (1, 2, 3, 4)
tuple2 = ('ant', 'bird', 'cat', 'dog')

dict1 = dict()
for i in range (0, len(tuple1), 1):
    dict1[tuple1[i]] = tuple2[i]
print(dict1)

{1: 'ant', 2: 'bird', 3: 'cat', 4: 'dog'}

In [182]:
#69.
dict1 = dict()
for i in range (0, 10, 1):
    dict1[i] = 2*i
print(dict1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [220]:
#70.
num = int(input('number: '))

list1 = []
list2 = []
dict1 = dict()
for i in range (0, num, 1):
    str1 = str(input('text: '))
    integer = int(input('integer: '))
    list1.append(str1)
    list2.append(integer)
    dict1[list1[i]] = list2[i]
print(dict1)

number: 3
text: armchair
integer: 700
text: basketball
integer: 500
text: candy
integer: 3
{'armchair': 700, 'basketball': 500, 'candy': 3}

In [192]:
#71.
num = int(input('number: '))

list1 = []
list2 = []
dict1 = dict()
for i in range (0, num, 1):
    str1 = str(input('text: '))
    integer = int(input('integer: '))
    list1.append(str1)
    list2.append(integer)
    if i%2 == 0:
        dict1[list1[i]] = list2[i]
    else:
        dict1[list2[i]] = list1[i]
print(dict1)

number: 5
text: surawoot
integer: 8
text: meekong
integer: 7
text: ong
integer: 3
text: python
integer: 6
text: book
integer: 5
{'surawoot': 8, 7: 'meekong', 'ong': 3, 6: 'python', 'book': 5}

In [66]:
#72.
num = int(input('number: '))

list1 = []
sum_data = 0
sum_var = 0
dict1 = dict()

for i in range (0, num, 1):
    data = float(input('data: '))
    sum_data += data
    list1.append(data)
mean = sum_data/num

for j in list1:
    a = (j-mean)**2
    sum_var += a
variance = sum_var/num

dict1['mean'] = mean
dict1['variance'] = variance
print(dict1)

number: 5
data: 1
data: 2
data: 3
data: 4
data: 5
{'mean': 3.0, 'variance': 2.0}

In [221]:
#73.
dict1 = {'apple': '52 kcal', 'banana': '132 kcal', 'carrot': '46 kcal'}

text = str(input('text: '))

if text in dict1:
    print(dict1[text])
else:
    dict1[text] = 'wait for assignment'
    print(dict1)

text: apple
52 kcal

In [224]:
#74.
dict1 = {'apple': '52 kcal', 'banana': '132 kcal', 'carrot': '46 kcal'}

text = str(input('text: '))

if text in dict1:
    dict1[text] = 'wait for new value'
else:
    dict1[text] = 'wait for assignment'
print(dict1)

text: xxx
{'apple': '52 kcal', 'banana': '132 kcal', 'carrot': '46 kcal', 'xxx': 'wait for assignment'}

In [225]:
#75.
dict2 = {'name': 'Mario', 'age': '30', 'job': 'mushroom picker'}

text = str(input('text: '))

if text in dict2.values():
    print('yes')
else:
    print('no')

text: 30
yes

In [227]:
#76.
dict2 = {'name': 'Mario', 'age': '30', 'job': 'mushroom picker'}

text = str(input('text: '))

if text in dict2.values():
    for i in dict2:
        if text == dict2[i]:
            print(i)

text: mushroom picker
job

In [39]:
#77.
dict2 = {'name': 'Mario', 'age': '30', 'job': 'mushroom picker'}

text = str(input('text: '))

if text in dict2.values():
    for i in dict2.keys():
        if text == dict2[i]:
            del dict2[i]
            break
else:
    dict2['new key'] = text
print(dict2)

text: Mario
{'age': '30', 'job': 'mushroom picker'}

In [47]:
#78.
dict2 = {'name': 'Mario', 'age': '30', 'job': 'mushroom picker'}
list1 = ['first_name', 'last_name', 'age', 'job']

for i in list1:
    if i in dict2.keys():
        del dict2[i]
print(dict2)

{'name': 'Mario'}

In [229]:
#79.
dict1 = dict()

while len(dict1) != 3:
    text = str(input('text: '))
    if text in dict1.keys():
        del dict1[text]
    else:
        num = int(input('number: '))
        dict1[text] = num
print(dict1)

text: a
number: 1
text: a
text: b
number: 2
text: c
number: 3
text: d
number: 4
{'b': 2, 'c': 3, 'd': 4}

In [52]:
#80.
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
set1 = set(list1)
print(set1, type(set1))

{'d', 'e', 'c', 'b', 'a', 'f'} <class 'set'>

In [236]:
#81.
set1 = set()
for i in range (0, 5, 1):
    num = int(input('number: '))
    set1.add(num)
print(set1)
print(len(set1))

number: 1
number: 2
number: 1
number: 3
number: 4
{1, 2, 3, 4}
4

In [235]:
#82.
set1 = set()

while len(set1) != 5:
    num = int(input('number: '))
    set1.add(num)
print(set1)

number: 1
number: 2
number: 3
number: 3
number: 4
number: 5
{1, 2, 3, 4, 5}

In [87]:
#83.
set1 = {1, 2, 3, 'a', 'b', 'c'}

str1 = str(input('text: '))
if str1 in set1:
    set1.remove(str1)
print(set1)

text: 3
{1, 2, 3, 'b', 'a', 'c'}

In [100]:
#84.
list1 = ['t', 'u', 'r', 'i', 'n', 'g']
tuple1 = ('n', 'e', 'w', 't', 'o', 'n')
list_tuple1 = list(tuple1)

set1 = set()
for i in range (0, len(list1), 2):
    set1.add(list1[i])
print(set1)

set2 = set()
for j in range (1, len(list_tuple1), 2):
    set2.add(list_tuple1[j])
print(set2)

{'t', 'r', 'n'}
{'t', 'e', 'n'}

In [101]:
#85.
set1 = {'t', 'r', 'n'}
set2 = {'t', 'e', 'n'}
set3 = set1 | set2
print(set3)

{'t', 'r', 'e', 'n'}

In [102]:
#86.
set1 = {'t', 'r', 'n'}
set2 = {'t', 'e', 'n'}
set3 = set1 & set2
print(set3)

{'t', 'n'}

In [238]:
#87.
set1 = set()
set2 = set()

while len(set1) <3:
    int_set1 = str(input('set1: '))
    set1.add(int_set1)
    
while len(set2) < 3:
    int_set2 = str(input('set2: '))
    set2.add(int_set2)
    
set3 = set1 - set2
print(set3)
set3 = set2 - set1
print(set3)

set1: a
set1: b
set1: c
set2: c
set2: d
set2: e
{'b', 'a'}
{'e', 'd'}

In [115]:
#88.
list1 = []
for i in range (0, 5, 1):
    number = float(input('number: '))
    list1.append(number)
print(max(list1))

number: 45.2
number: 12.0
number: 0.25
number: 4.15
number: 7.1
45.2

In [239]:
#89.
list1 = []
for i in range (0, 5, 1):
    num = float(input('number: '))
    list1.append(num)
    
n = 0
for j in range (0, len(list1), 1):
    if max(list1) == list1[j]:
        n = n + 1
print(max(list1), n)

number: 1
number: 2
number: 5
number: 5
number: 4
5.0 2

In [242]:
#90.
country = ['Brazil', 'China', 'Germany', 'Japan', 'Sweden']
dict1 = dict()
for i in country:
    income = float(input(i+'_income: '))
    dict1[i] = income
print(dict1)

for i in dict1:
    if max(dict1.values()) == dict1[i]:
        print(i, dict1[i])

Brazil_income: 3500
China_income: 2500
Germany_income: 2000
Japan_income: 3000
Sweden_income: 1500
{'Brazil': 3500.0, 'China': 2500.0, 'Germany': 2000.0, 'Japan': 3000.0, 'Sweden': 1500.0}
Brazil 3500.0

In [114]:
#91.
list1 = []
for i in range (0, 5, 1):
    num = float(input('number: '))
    list1.append(num)
print(min(list1))

number: 56.2
number: 10.4
number: 522.3
number: 15442.2
number: 0.25
0.25

In [118]:
#92.
list1 = []
for i in range (0, 5, 1):
    num = float(input('number: '))
    list1.append(num)

n = 0
for j in list1:
    if min(list1) == j:
        n = n + 1
print(min(list1), n)

number: 1
number: 2
number: 1
number: 1
number: 5
1.0 3

In [249]:
#93.
country = ['Brazil', 'China', 'Germany', 'Japan', 'Sweden']
dict1 = dict()
for i in country:
    income = float(input(i+'_income: '))
    dict1[i] = income
print(dict1)

for j in dict1:
    if min(dict1.values()) == dict1[j]:
        print(j, dict1[j])

Brazil_income: 3500
China_income: 2500
Germany_income: 2000
Japan_income: 3000
Sweden_income: 1500
{'Brazil': 3500.0, 'China': 2500.0, 'Germany': 2000.0, 'Japan': 3000.0, 'Sweden': 1500.0}
Sweden 1500.0

In [251]:
#94.
list1 = [1, 3, 7, 9, 2, 7, 5, 1, 8]
list1.sort()
print(list1)
length = len(list1) + 1
center = int(length//2)
if length%2 == 0:
    median = list1[center-1]
else:
    median = (list1[center-1] + list1[center])/2
print(median)

[1, 1, 2, 3, 5, 7, 7, 8, 9]
5

In [254]:
#95.
list1 = [6, 5, 7, 9, 8, 1, 3, 5, 7, 2]
list1.sort()
print(list1)
length = len(list1) + 1
center = int(length//2)
if length%2 == 0:
    median = list1[center-1]
else:
    median = (list1[center-1] + list1[center])/2
print(median)

[1, 2, 3, 5, 5, 6, 7, 7, 8, 9]
5.5

In [278]:
#96.
data = {'Brazil':35000, 'China':24000, 'Germany':42000, 'Japan':53000, 'Sweden':17000}

list1 = sorted(data.values())
print(list1)

length = len(list1) + 1
center = int(length//2)
if length%2 == 0:
    median = list1[center-1]
else:
    median = (list1[center-1] + list1[center])/2

for i in data.keys():
    if data[i] == median:
        print(i, median)

[17000, 24000, 35000, 42000, 53000]
Brazil 35000

In [280]:
#97.* Ans
list1 = []
for i in range (5):
    number = float(input('Number: '))
    list1.append(number)
set1 = set(list1)
print(set1)

Number: 5
Number: 3
Number: 2
Number: 3
Number: 4
{2.0, 3.0, 4.0, 5.0}

In [99]:
#97. while
list1 = []
list2 = []
while len(list2) < 5:
    data = float(input('data: '))
    list1.append(data)
    if (data in list2) == False:
        list2.append(data)
print(list1)
print(list2)

data: 1
data: 2
data: 2
data: 3
data: 3
data: 3
data: 4
data: 4
data: 4
data: 4
data: 5
[1.0, 2.0, 2.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 5.0]
[1.0, 2.0, 3.0, 4.0, 5.0]

In [106]:
#97. for
list1 = []
list2 = []
for i in range (0, 100, 1):
    data = float(input('data: '))
    list1.append(data)
    if (data in list2) == False:
        list2.append(data)
    if len(list2) == 5:
        break
print(list1)
print(list2)

data: 1
data: 2
data: 2
data: 3
data: 3
data: 3
data: 4
data: 4
data: 4
data: 4
data: 5
[1.0, 2.0, 2.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 5.0]
[1.0, 2.0, 3.0, 4.0, 5.0]

In [283]:
#98.* Ans
list1 = []
for i in range (5):
    number = float(input('Number:' ))
    list1.append(number)
set1 = set(list1)
dict1 = {}
for x in set1:
    n = list1.count(x)
    dict1[x] = n
print(dict1)

Number:1
Number:3
Number:3
Number:2
Number:4
{1.0: 1, 2.0: 1, 3.0: 2, 4.0: 1}

In [103]:
#98. while
list1 = []
list2 = []
while len(list2) < 5:
    data = float(input('data: '))
    list1.append(data)
    if (data in list2) == False:
        list2.append(data)
dict1 = dict()
for i in list2:
    n = 0
    for j in list1:
        if i == j:
            n = n + 1
    dict1[i] = n
print(dict1)

data: 1
data: 2
data: 2
data: 3
data: 3
data: 3
data: 3
data: 4
data: 4
data: 4
data: 44
{1.0: 1, 2.0: 2, 3.0: 4, 4.0: 3, 44.0: 1}

In [109]:
#98. for
list1 = []
list2 = []
for i in range (0, 100, 1):
    data = float(input('data: '))
    list1.append(data)
    if (data in list2) == False:
        list2.append(data)
    if len(list2) == 5:
        break
        
dict1 = dict()
for i in list2:
    n = 0
    for j in list1:
        if i == j:
            n = n + 1
    dict1[i] = n
print(dict1)

data: 2
data: 1
data: 2
data: 3
data: 3
data: 3
data: 4
data: 4
data: 4
data: 4
data: 5
{2.0: 2, 1.0: 1, 3.0: 3, 4.0: 4, 5.0: 1}

In [285]:
#99.
list1 = []
for i in range (0, 5, 1):
    num = float(input('number: '))
    list1.append(num)

set1 = set(list1)
dict1 = dict()
for j in set1:
    n = 0
    for k in list1:
        if j == k:
            n = n + 1
    dict1[j] = n

for l in dict1:
    if max(dict1.values()) == dict1[l]:
        print(l, dict1[l])

number: 3
number: 3
number: 4
number: 4
number: 1
3.0 2
4.0 2

In [291]:
#100. * Ans
for i in range(10):
    print('x', end = '')

xxxxxxxxxx

In [47]:
#100. *
x = ''
for i in range (0, 10, 1):
    x += 'x'
print(x)

xxxxxxxxxx

In [427]:
#101.
for i in range (0, 10, 1):
    x = 'x'*10
    print(x)

xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx
xxxxxxxxxx

In [430]:
#102.
for i in range (1, 11, 1):
    x = 'x' * i
    print(x)

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx
xxxxxxxxxx

In [404]:
#103.
for i in range (10, 0, -1):
    x = 'x' * i
    print(x)

xxxxxxxxxx
xxxxxxxxx
xxxxxxxx
xxxxxxx
xxxxxx
xxxxx
xxxx
xxx
xx
x

In [483]:
#104.
j = 1
for i in range (3, -1, -1):
    text = ('-'*i) + ('x'*j)
    j = j + 2
    print(text)

---x
--xxx
-xxxxx
xxxxxxx

In [485]:
#105.
j = 0
for i in range (7, 0, -2):
    text = ('-'*j) + ('x'*i)
    j = j + 1
    print(text)

xxxxxxx
-xxxxx
--xxx
---x

In [292]:
#106. * Ans
for i in range (7):
    for j in range (7):
        if (i==j) or (i+j == 6):
            print('x', end = '')
        else:
            print('-', end = '')
    print()

x-----x
-x---x-
--x-x--
---x---
--x-x--
-x---x-
x-----x

In [525]:
#106. *
for i in range (0, 7, 1):
    list1 = list('-'*7)
    list1[0+i] = 'x'
    list1[(len(list1)-1) - i] = 'x'
    text = ''.join(list1)
    print(text)

x-----x
-x---x-
--x-x--
---x---
--x-x--
-x---x-
x-----x

In [293]:
#107.* Ans.
for i in range (7):
    for j in range (7):
        if (j == abs(3-i)) or (j == 6 - abs(3-i)):
            print('x', end = '')
        else:
            print('-', end = '')
    print()

---x---
--x-x--
-x---x-
x-----x
-x---x-
--x-x--
---x---

In [80]:
#107. for
for i in range (0, 4, 1):
    list1 = list('-'*7)
    list1[3-i] = 'x'
    list1[3+i] = 'x'
    text = ''.join(list1)
    print(text)
for j in range (0, 3, 1):
    list1 = list('-'*7)
    list1[j+1] = 'x'
    list1[5-j] = 'x'
    text = ''.join(list1)
    print(text)

---x---
--x-x--
-x---x-
x-----x
-x---x-
--x-x--
---x---

In [86]:
#107. while
i = 0
while i <= 3:
    list1 = list('-'*7)
    list1[3-i] = 'x'
    list1[3+i] = 'x'
    text = ''.join(list1)
    i = i + 1
    print(text)

j = 0
while j <= 2:
    list1 = list('-'*7)
    list1[j+1] = 'x'
    list1[5-j] = 'x'
    text = ''.join(list1)
    j = j + 1
    print(text)

---x---
--x-x--
-x---x-
x-----x
-x---x-
--x-x--
---x---

In [550]:
#108.* for
for i in range (9, -1, -1):
    text = ('-'*i) + 'x'
    print(text)

---------x
--------x
-------x
------x
-----x
----x
---x
--x
-x
x

In [557]:
#108. while
i = 9
while i >= 0:
    text = ('-'*i) + 'x'
    print(text)
    i = i - 1

---------x
--------x
-------x
------x
-----x
----x
---x
--x
-x
x

In [561]:
#109.
for i in range (0, 10, 1):
    text = ('-'*(9-i)) + ('x'*(1+i))
    print(text)

---------x
--------xx
-------xxx
------xxxx
-----xxxxx
----xxxxxx
---xxxxxxx
--xxxxxxxx
-xxxxxxxxx
xxxxxxxxxx

In [563]:
#110.
j = 1
for i in range (0, 10, 1):
    text = ('-'*(9-i)) + ('x'*j)
    j = j + 2
    print(text)

---------x
--------xxx
-------xxxxx
------xxxxxxx
-----xxxxxxxxx
----xxxxxxxxxxx
---xxxxxxxxxxxxx
--xxxxxxxxxxxxxxx
-xxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxx

In [294]:
#111.* Ans
for i in range (10):
    for j in range (20):
        if 9-i <= j <= 9+i:
            print('x', end = '')
        else:
            print('-', end = '')
    print()

---------x----------
--------xxx---------
-------xxxxx--------
------xxxxxxx-------
-----xxxxxxxxx------
----xxxxxxxxxxx-----
---xxxxxxxxxxxxx----
--xxxxxxxxxxxxxxx---
-xxxxxxxxxxxxxxxxx--
xxxxxxxxxxxxxxxxxxx-

In [566]:
#111.*
list1 = list('-'*20)
for i in range (0, 10, 1):
    list1[9+i] = 'x'
    list1[9-i] = 'x'
    text = ''.join(list1)
    print(text)

---------x----------
--------xxx---------
-------xxxxx--------
------xxxxxxx-------
-----xxxxxxxxx------
----xxxxxxxxxxx-----
---xxxxxxxxxxxxx----
--xxxxxxxxxxxxxxx---
-xxxxxxxxxxxxxxxxx--
xxxxxxxxxxxxxxxxxxx-

In [600]:
#112.* for
for i in range (0, 9, 1):
    text1 = ('-'*(8-i))
    for j in range (1, 10, 1):
        text1 = text1 + str(j)
        if len(text1) == 9:
            break
    print(text1)

--------1
-------12
------123
-----1234
----12345
---123456
--1234567
-12345678
123456789

In [614]:
#112.* while
i = 9
while i > 0:
    text1 = ('-'*(i-1))
    i = i - 1
    j = 1
    while len(text1) < 9:
        text1 = text1 + str(j)
        j = j + 1
    print(text1)

--------1
-------12
------123
-----1234
----12345
---123456
--1234567
-12345678
123456789

In [31]:
#113.* for
for n in range (1, 10, 1):
    text = '-'*(9-n)
    for i in range (1, n+1, 1):
        text = text + str(i)
    for j in range (n-1, 0 , -1):
        text = text + str(j)
    print(text)

--------1
-------121
------12321
-----1234321
----123454321
---12345654321
--1234567654321
-123456787654321
12345678987654321

In [301]:
#113. extra palindrom
length = int(input('โปรดระบุความยาว(เลขคี่): '))
center = int((length+1)/2)
text = ''
for i in range (1, center+1, 1):
    text = text + str(i)
for j in range (center-1, 0, -1):
    text = text + str(j)
print(text)

โปรดระบุความยาว(เลขคี่): 10
123454321

In [32]:
#113. while
n = 1
while n <= 9:
    text = '-'*(9-n)
    i = 1
    while i <= n:
        text = text + str(i)
        i = i + 1
    j = n - 1
    while j >= 1:
        text = text + str(j)
        j = j - 1
    n = n + 1
    print(text)

--------1
-------121
------12321
-----1234321
----123454321
---12345654321
--1234567654321
-123456787654321
12345678987654321

In [1]:
#114.*
for i in range (9):
    number = 0
    for j in range (9+i):
        if (i+j >= 8) and (j <= 8):
            number = number + 1
            print(number, end = '')
        elif (i+j >= 8) and (j > 8):
            number = number - 1
            print(number, end = '')
        else: 
            print('-', end = '')
    print()

--------1
-------121
------12321
-----1234321
----123454321
---12345654321
--1234567654321
-123456787654321
12345678987654321

In [40]:
#114.* Ans.
for n in range (1, 6, 1):
    text = '-'*(5-n)
    if n%2 == 0:
        for i in range (1, n*2, 1):
            text = text + str(i)
    else:
        for j in range ((n*2)-1, 0, -1):
            text = text + str(j)
    print(text)

----1
---123
--54321
-1234567
987654321

In [46]:
#115.
for n in range (1, 6, 1):
    text = '-'*(5-n)
    if n%2 == 0:
        for i in range (1, n+1, 1):
            text = text + str(i)
    else:
        for j in range ((n*2)-1, n-1, -1):
            text = text + str(j)
    print(text)

----1
---12
--543
-1234
98765