# 13. Function

In [131]:
#1.
def sum_fun(a, b):
    return a+b

sum_fun(18, 32)

50

In [132]:
#2.
def sum1(a, b, c):
    return a+b+c

sum1(10, 20, 25)

55

In [133]:
#3.
def power(a):
    return a**2
power(25)

625

In [144]:
#4.
listA = [1, 2, 3, 4, 5]
def power2(listA):
    return [i**2 for i in listA]
power2(listA)

[1, 4, 9, 16, 25]

In [146]:
#5.
listA = [1, 2, 3, 4, 5]
def sum_power2(listA):
    list1 = [i**2 for i in listA]
    return sum(list1)

sum_power2(listA)

55

In [149]:
#6. Ans.
list1 = [1.1, 2, 3.3, 4, 5.5,'ong', 'surawoot', 6]

def sum_int(listA):
    total = 0
    for i in list1:
        if type(i) == int:
            total = total + i
    return total

sum_int(listA)

12

In [73]:
#6.
list1 = [1, 2, 3, 0.5, 10.2,'ong', 'surawoot', 10]

def sum_list(list1):
    total = 0
    for i in list1: 
        if i != str(i):    
            if i == int(i):
                total = total + i
    return total

sum_list(list1)

16

In [152]:
#7. Ans.
list1 = [1.1, 2, 3.3, 4, 5.5,'ong', 'surawoot', 6]

def sum_int(listA):
    total = 0
    for i in list1:
        if type(i) == float:
            total = total + i
    return total

sum_int(listA)

9.9

In [74]:
#7.
list1 = [1, 2, 3, 0.5, 10.2,'ong', 'surawoot', 10]

def sum_list(list1):
    total = 0
    for i in list1: 
        if i != str(i):    
            if i == float(i):
                total = total + i
    return total

sum_list(list1)

26.7

In [153]:
#8.
str1 = str(input('text1: '))
str2 = str(input('text2: '))

def sum_string(str1, str2):
    return str1 + str2

sum_string(str1, str2)

text1: Goo
text2: gle

'Google'

In [154]:
#9.
str1 = str(input('text1: '))
str2 = str(input('text2: '))
str3 = str(input('text3: '))

def sum_string(str1, str2, str3):
    return str1 + str2 + str3

sum_string(str1, str2, str3)

text1: A
text2: ma
text3: zon

'Amazon'

In [156]:
#10. Ans
str1 = str(input('str1: '))
str2 = str(input('str2: '))

def del_str(str1, str2):
    str3 = ''.join(str1.split(str2))
    return str3

del_str(str1, str2)

str1: onetwothree
str2: two

'onethree'

In [155]:
#10.*
str1 = str(input('str1: '))
str2 = str(input('str2: '))

def del_str(str1, str2):
    return str1.replace(str2, '')

del_str(str1, str2)

str1: onetwothree
str2: two

'onethree'

In [141]:
#11.
str1 = str(input('str1: '))
k = int(input('number: '))

def repeat(str1, k):
    list1 = []
    for i in range (0, k, 1):
        list1.append(str1)
    str1 = '-'.join(list1)
    return str1

repeat(str1, k)

str1: ong
number: 3

'ong-ong-ong'

In [157]:
#12.* Ans
listA = ['food', 'drink', 'snack', 1, 2, 3]

def length(listA):
    total = 0
    for i in listA:
        if type(i) == str:
            total = total + len(i)
    return total

length(listA)

14

In [315]:
#12.*
listA = [1, 2, 5, 10, 10.5, 5.23]

def length(listA):
    text = ''
    for i in listA:
        i = str(i)
        text = text + i
    return text, len(text)
length(listA)

('1251010.55.23', 13)

In [161]:
#13. *Ans
str1 = str(input('text: '))

def special_cut(str1):
    special = '!@#\$%,'
    for i in special:
        str1 = str1.replace(i, '')
    return str1

special_cut(str1)

text: #chic#ken#

'chicken'

In [162]:
#13. *
str1 = str(input('text: '))

def special_cut(str1):
    special = '!@#\$%,'
    list1 = []
    for i in str1:
        if i not in special: 
            list1.append(i)
    str1 = ''.join(list1)
    return str1

special_cut(str1)

text: #chic#ken#

'chicken'

In [163]:
#14.f
x1 = float(input('x1: '))
x2 = float(input('x2: '))

def distance(x1, x2):
    distance = abs(x1 - x2)
    return distance

distance(x1, x2)

x1: 32
x2: -18

50.0

In [189]:
#15.
sales = float(input('sales: '))
cogs = float(input('cogs: '))

def gross_profit(sales, cogs):
    return sales - cogs

gross_profit(sales, cogs)

sales: 125.36
cogs: 20.152

105.208

In [165]:
#16.
price = float(input('price: '))
discount = float(input('discount(%): '))

def special_price(price, discount):
    if (price < 0) or (discount < 0) or (discount > 100):
        print('ใส่ตัวเลขใหม่')
    else: 
        price = price*(1-(discount)/100)
        return price

special_price(price, discount)

price: 100
discount(%): 20

80.0

In [166]:
#17.
d = float(input('d: '))
s = float(input('s: '))

def jump(d, s):
    if d%s == 0:
        return d/s
    else:
        return int((d/s) + 1)

jump(d, s)

d: 10
s: 2

5.0

In [167]:
#18.
k = str(input('search: '))
listA = [2, 4, 6, 8, 12, 'ong', 'surawoot', 'meekong']

def search(k):
    if k in str(listA):
        for i in range (0, len(str(listA)), 1):
            if k == str(listA[i]):
                return i
    else:
        return -1

search(k)

search: 4

1

In [170]:
#19.
amount = int(input('amount: '))

def coin(amount):
    coin_set = {'10': 0, '5': 0, '2': 0, '1': 0}
    for i in coin_set:
        n = 0
        while amount >= int(i):
            amount = amount - int(i)
            n = n + 1
        coin_set[i] = n
    return coin_set

coin(amount)

amount: 58

{'10': 5, '5': 1, '2': 1, '1': 1}

In [171]:
#20.
PV = float(input('Present values: '))
r = float(input('interest(%): '))
n = float(input('year: '))

def FV(PV, r, n):
    FV = PV*((1+(r/100))**n)
    return FV

FV(PV, r, n)

Present values: 1000
interest(%): 20
year: 2

1440.0

In [172]:
#21.
PV = float(input('Present values: '))
FV = float(input('Future values: '))
n = float(input('year: '))

def percent_profit(PV, FV, n):
    profitperyear = ((FV/PV)**(1/n)-1)*100
    return profitperyear

percent_profit(PV, FV, n)

Present values: 1000
Future values: 1440
year: 2

19.999999999999996

In [173]:
#22.
a = float(input('a: '))
b = float(input('b: '))
op = str(input("Please select '+', '-', '*', '/': "))

def cal(a, b, op):
    if op == '+':
        return a + b
    elif op == '-':
        return a - b
    elif op == '*':
        return a*b
    elif op == '/':
        return a/b
    else:
        return 'โปรดเลือก op ใหม่'
cal(a, b, op)

a: 5
b: 2
Please select '+', '-', '*', '/': *

10.0

In [176]:
#23.
a = float(input('a: '))
b = float(input('b: '))

def c(a, b):
    c = ((a**2) + (b**2))**(1/2)
    return c

c(a, b)

a: 3
b: 4

5.0

In [177]:
#24.
x1 = float(input('x1: '))
y1 = float(input('y1: '))
x2 = float(input('x2: '))
y2 = float(input('y2: '))

def distance(x1, y1, x2, y2):
    distance = ((x1-x2)**2 + (y1-y2)**2)**(1/2)
    return distance

distance(x1, y1, x2, y2)

x1: 3
y1: 4
x2: 6
y2: 8

5.0

In [183]:
#25.
P1 = (1, 2, 2, 1)
P2 = (3, 4, 0, -1)

def dimension(P1, P2):
    value = 0
    for i in range (0, len(P1), 1):
        value = value + (P1[i]-P2[i])**2
    return value**(1/2)

dimension(P1, P2)

4.0

In [184]:
#26.
listA = [1, 2, 3, 4, 5]
k = int(input('k: '))

def shift(listA, k):
    list1 = []
    for i in range (0, 5, 1):
        list1.append(listA[i-k])
    return list1

shift(listA, k)

k: 1

[5, 1, 2, 3, 4]

In [526]:
#27.
listA = [1, 2, 3, 4, 5]
k = int(input('k: '))

def shift(listA, k):
    list1 = []
    for i in range (-5, 0, 1):
        list1.append(listA[i+k])
    return list1

shift(listA, k)

k: 1

[2, 3, 4, 5, 1]

In [185]:
#28. *Ans
s = str(input('s: '))
b = int(input('ฐาน: '))

def to_decimal(s,b):
    converter = {'0':0, '1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9,
            'A':10, 'B':11, 'C':12, 'D':13, 'E':14, 'F':15}
    s = s[::-1].upper()
    decimal = 0
    n = len(s)
    for i in range (n):
        decimal = decimal + converter[s[i]]*b**(i)
    return decimal

to_decimal(s,b)

s: 71a
ฐาน: 16

1818

In [187]:
#28. *
s = str(input('s: '))
b = int(input('ฐาน: '))

def decimal(s,b):
    dict1 = {'0':0, '1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9,
            'A':10, 'B':11, 'C':12, 'D':13, 'E':14, 'F':15}
    decimal = 0
    for i in range (0, len(s), 1):
        decimal = decimal + (dict1[s[i]]*(b**(len(s)-1-i)))
    return decimal
decimal(s,b)

s: 71A
ฐาน: 16

1818

In [188]:
#29.
x = int(input('x: '))

def binary(x):
    decimal = ''
    while x > 0:
        a = x%2
        decimal = str(a) + decimal
        x = x//2
    return decimal

binary(x)

x: 7

'111'

In [189]:
#30.*
x = int(input('x: '))

def hexadecimal(x):
    hexadecimal = ''
    dict1 = {10:'A', 11:'B', 12:'C', 13:'D', 14:'E', 15:'F'}
    while x > 0:
        a = x%16
        if a >= 10:
            for i in dict1:
                if a == i:
                    hexadecimal = dict1[i] + hexadecimal
        else: 
            hexadecimal = str(a) + hexadecimal
        x = x//16
    return hexadecimal

hexadecimal(x)

x: 318

'13E'

In [190]:
#30.*
x = int(input('x: '))

def hexadecimal(x):
    hexadecimal = ''
    dict1 = {'0':0, '1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9,
            'A':10, 'B':11, 'C':12, 'D':13, 'E':14, 'F':15}
    while x > 0:
        a = x%16
        for i in dict1:
            if a == dict1[i]:
                hexadecimal = i + hexadecimal
        x = x//16
    return hexadecimal

hexadecimal(x)

x: 318

'13E'

In [108]:
#31.
listA = [18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 
         30.4, 33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26, 30.4, 15.8, 19.7, 15, 21.4]
def stat1(listA):
    return min(listA), max(listA)

stat1(listA)

(10.4, 33.9)

In [192]:
#32.
listB = [18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 
         30.4, 33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26, 30.4, 15.8, 19.7, 15, 21.4, 
         19.2]
listA = [1, 2, 2, 3, 4]
def stat2(listA):
    mean = sum(listA)/len(listA)
    list1 = sorted(listA)
    central = (len(list1)+1)/2
    if central%1 == 0:
        median = list1[int(central)-1]
    else:
        median = (list1[int(central)-1] + list1[int(central)])/2
    set1 = set(list1)
    dict1 = dict()
    for i in set1:
        n = 0
        for j in list1:
            if i == j:
                n = n + 1
        dict1[i] = n
    for k in dict1.keys(): 
        if max(dict1.values()) == dict1[k]:
            print(f'mode = {k}')
    print(f'median = {median}')
    print(f'mean = {mean}')

stat2(listA)

mode = 2
median = 2
mean = 2.4

In [193]:
#33.
num = int(input('number: '))

def prime(num):
    list1 = []
    for i in range (1, num+1, 1):
        if num%i == 0:
            list1.append(i)
    if len(list1) == 2:
        print(f'{num} is prime number')
    else:
        print(f'{num} is not prime number')
prime(num)

number: 37
37 is prime number

In [270]:
#34.
listA = [18, 18, 14, 24, 22, 19, 17, 16, 17, 15, 10, 10, 14, 32, 30, 33, 21, 15, 15, 13, 19,
         27, 26, 30, 15, 19, 15, 21, 19]

def prime1(listA):
    for i in range (0, len(listA), 1):
        list1 = []
        for j in range(1, listA[i]+1, 1):
            if listA[i]%j == 0:
                list1.append(j)
        if len(list1) == 2:
            listA[i] = True
        else:
            listA[i] = False
    return listA
prime1(listA)

[False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True]

In [127]:
#35.
n = int(input('number: '))

def draw1(n):
    for i in range (0, n, 1):
        list1 = list('-'*n)
        for j in range (-n, 0, 1):
            if i+j == -1:
                list1[i] = 'x'
                list1[j] = 'x'
        print(''.join(list1))
draw1(n)

number: 16
x--------------x
-x------------x-
--x----------x--
---x--------x---
----x------x----
-----x----x-----
------x--x------
-------xx-------
-------xx-------
------x--x------
-----x----x-----
----x------x----
---x--------x---
--x----------x--
-x------------x-
x--------------x

In [195]:
#36.
n = int(input('number: '))

def draw2(n):
    if n%2 == 0:
        line = n - 1
        center = int(n/2)-1
    else:
        line = n
        center = int(n//2)
    for i in range (0, line, 1):
        list1 = list('-'*n)
        if i > line/2:
            list1[center-1-i] = 'x'
            list1[-center+i] = 'x'
        else:
            list1[center-i] = 'x'
            list1[(-center-1)+i] = 'x'
        print(''.join(list1))
draw2(n)

number: 6
--xx--
-x--x-
x----x
-x--x-
--xx--

In [334]:
#37.
def draw3():
    n = 1
    for i in range (0, 4, 1):
        result = '-'*(3-i) + 'x'*n
        n = n + 2
        print(result)
draw3()

---x
--xxx
-xxxxx
xxxxxxx

In [352]:
#38.
listA = [1, 2, 3]
listB = [6, 7, 8]

def cal_list(listA, listB):
    list1 = []
    list2 = []
    for i in range (0, len(listA), 1):
        list1.append(listA[i] + listB[i])
        list2.append(listA[i]*listB[i])
    return list1, list2
cal_list(listA, listB)

([7, 9, 11], [6, 14, 24])

In [361]:
#39.
dictA = {'name': 'John', 'age':32}

def dict_fun(dictA):
    key = dictA.keys()
    value = dictA.values()
    return key, value
dict_fun(dictA)

(dict_keys(['name', 'age']), dict_values(['John', 32]))

In [196]:
#40.
listA = [8, 0, -2, 4]

def cum_sum(listA):
    list1 = []
    n = 0
    for i in listA:
        n = n + i
        list1.append(n)
    return list1
cum_sum(listA)

[8, 8, 6, 10]

In [197]:
#41.*Ans
a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: '))

def triangle(a, b, c):
    s_len = sorted([a, b, c])
    if s_len[0] + s_len[1] > s_len[2]:
        return True
    else:
        return False
    
triangle(a, b, c)

a: 5
b: 3
c: 4

True

In [388]:
#41.*
a = float(input('a: '))
b = float(input('b: '))
c = float(input('c: '))

def triangle(a, b, c):
    list1 = [a, b, c]
    max1 = max(list1)
    list1.remove(max1)
    if sum(list1) > max1:
        return True
    else:
        return False

triangle(a, b, c)

a: 2
b: 2
c: 3

True

In [199]:
#42.
word = str(input('word: '))

def case(word):
    text = ''
    for i in word:
        if i == i.upper():
            text = text + i.lower()
        else:
            text = text + i.upper()
    return text
case(word)

word: My Name Is John Doe

'mY nAME iS jOHN dOE'

In [202]:
#43.
listA = ['Hello', 'Hel', 'Hell', 'He', 'H']
n = int(input('n: '))

def remove1(listA, n):
    for i in range (len(listA)-1, -1, -1):
        if len(listA[i]) > n:
            del listA[i]
    return listA
remove1(listA, n)

n: 2

['He', 'H']

In [203]:
#44.
listA = [2, 3, 0, 1]

def dev(listA):
    for i in range (0, len(listA), 1):
        listA[i] = i*listA[i]
    print(listA)
    list1 = []
    for j in range (-len(listA), 0, 1):
        list1.append(listA[j+1])
    return list1
dev(listA)

[0, 3, 0, 3]

[3, 0, 3, 0]

In [655]:
#45.
listA = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
tuple2 = (3, 5)

def reshape(listA, tuple2):
    if len(listA) == (tuple2[0]*tuple2[1]):
        list1 = []
        for i in range (0, tuple2[0], 1):
            list2 = []
            for j in range (0, tuple2[1], 1):
                list2.append(listA[0])
                del listA[0]
            list1.append(list2)
        return list1
    else:
        print("ไม่สามารถสร้าง maxtrix ได้")
reshape(listA, tuple2)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]